In [4]:
import pandas as pd

In [8]:
dataset = pd.read_csv(r"/Users/manharankaur/Downloads/uncleaned_customer_data_with_numerics.csv")
dataset.head()

,CustomerID,Name,Email,Age,Country,SignupDate,LastLogin,TotalPurchase,Feedback,CartValue,ItemsBought,DiscountApplied,AvgPurchaseValue
0,e3e70682-c209-4cac-a29f-6fbed82c07cd,Edwin Mack,timothy14@ward.com,unknown,NaN,2023-10-18,2025-02-14 03:26:26,80.63,Excellent,196.06,NaN,5.0,NaN
1,f728b4fa-4248-4e3a-8a5d-2f346baa9455,Kimberly Moore,brendagonzalez@atkins.org,75,USA,2025-02-28,2025-02-17 15:38:32,27.38,NaN,136.79,NaN,0.0,NaN
2,eb1167b3-67a9-4378-bc65-c1e582e2e662,Kaitlin Gregory,velazquezanita@yahoo.com,30,Germany,2023-09-10,2025-02-01 15:53:26,817.67,Bad,239.65,NaN,20.0,NaN
3,f7c1bd87-4da5-4709-9471-3d60c8a70639,Crystal Gill,allentyler@hill-smith.com,NaN,United States,NaN,2025-05-07 21:17:28,29.28,NaN,291.47,NaN,10.0,NaN
4,e443df78-9558-467f-9ba9-1faf7a024204,William Martinez,jonesashley@gmail.com,NaN,United States,2024-09-12,2025-05-07 13:32:36,829.67,Average,NaN,NaN,15.0,NaN

In [9]:
dataset.shape

(310, 13)

In [11]:
dataset.isnull().sum() # check number of missing values

CustomerID            7
Name                 17
Email                11
Age                 116
Country              40
SignupDate           30
LastLogin            52
TotalPurchase        27
Feedback            103
CartValue            29
ItemsBought         195
DiscountApplied      56
AvgPurchaseValue    206
dtype: int64