# `Variables`
Temporary storage values in a program are called variables. Variables are used to store data that can be used in a program.

In [1]:
a = "hello word"
print(a)

hello word

In [2]:
age = 20
print(age)

20

# `Keywords`
Special reserved words in the language that have a specific meaning. Keywords are used to define the structure of the program.

In [ ]:
print = 10
print(print)

TypeError: 'int' object is not callable

# `Data Types`
There are several data types in Python, including: 
#### **`Numeric`** (Integers, Floats, Complex)
*   **`Integers`**: Whole numbers, either positive, negative, or zero. For example: 1, -5, 0.
*   **`Floats`**: Decimal numbers. For example: 3.14, -0.
*   **`Complex`**: Numbers with a real and imaginary part. For example: 3+4j. 
#### **`Sequence`** (Strings, Lists, Tuples)
*   **`Strings`**: Sequences of characters. For example: "hello", 'hello', or 'hello world'.
*   **`List`**: An ordered collection of items that can be of any data type, including strings , integers, floats, and other lists. For example: [1, 2, 3], ["a", "b", "c "], or [1, 2, 3, "a", "b", "c"]
*   **`Tuple`**: An ordered, immutable collection of items that can be of any data type, including strings, integers, floats, and other tuples. For example: (1, 2, 3), ("a", "b", "c"), or (1, 2, 3, "a", "b", "c")
####   **`Boolean`**: 
A logical value that can be either True or False.
####   **`Dictionary`**: 
An unordered collection of key-value pairs. For example: {"name": " John", "age": 30}, {"city": "New York", "country": "USA "}, or {"1": "one", "2": "two", "3": "three"}
####   **`Set`**: 
An unordered collection of unique items. For example: {1, 2, 3}, {"a", "b", "c"}, or {1, 2, 3, "a", "b", "c"}
####   **`NoneType`**: 
A special data type that represents the absence of a value. For example : None

In [ ]:
age = 20
type(age)

int

In [ ]:
name = 'Manharan Kaur'
type(name)

str

In [ ]:
score = 89.5
type(score)

float

In [ ]:
x = "10.5"
type(x)

str

In [ ]:
a = 'True'
type(a)

str

In [ ]:
a = True
type(a)

bool

In [ ]:
5a = 7 
# Error can't start variables names from a number

SyntaxError: invalid decimal literal (2591580758.py, line 1)

In [ ]:
a = 4
b = 5
c = a + b
print(c)

9

# `Functions`
Functions are a way to group a set of related statements together to perform a specific task. They can take arguments, return values, and be reused throughout your code.

In [ ]:
def sum(a,b):
    return a+b

In [ ]:
print(sum(5,6))

11

# `Operators` & `Operands`
- **`Operators`**: These are the symbols used to perform operations on operands. Examples include `+`, `-`, `*`, `/`, etc. 
- **`Operands`**: These are the values on which the operators are applied. Examples include `2 `, `5`, `10`, etc. 
- **`Expression`**: A combination of operators and operands that results in a value. Examples include `2 + 5`, `10 * 2`, etc.
- **`Order of Precedenc`**: The order in which operators are applied when there are multiple operators in an expression. For example, in the expression `2 + 3 * 4`, the multiplication is performed first, then the addition .
- **`Associativity`**: The order in which operators are applied when there are multiple operators of the same precedence in an expression. For example, in the expression `2 + 3 + 4`, the addition is performed from left to right.
- **`BODMAS`**: A mnemonic used to remember the order of precedence of operators. It stands for `Brackets`, `Orders`, `Division`, `Multiplication`, `Addition`, and `Subtraction`. 
- ** `PEMD` **: A mnemonic used to remember the order of precedence of operators. It stands for `Parentheses`, `Exponents`, `Multiplication` and `Division`, and `Addition` and `Subtraction`.

In [ ]:
name = input("Enter name:")
print(name)
print(type(name))

# `Typecasting`
It is the process of converting a variable from one data type to another. For example, converting an integer to a string or a float to an integer.

In [3]:
a = 2.556
b = int(a)
print(type(b))

<class 'int'>

In [ ]:
string = "2.5"
print(int(float(string)))
# print(int(string)) is not valid because string has float value 
# the string "2.5" is not directly convertible to int

2

In [ ]:
string = "hello"
print(string[0]) # first index
print(string[-1]) # last index

h
o

In [1]:
string[0] = "Y"
# string are immutable

NameError: name 'string' is not defined

In [2]:
str1 = "Hello"
str1 = "Yellow"
print(str1)
# reassigning string is possible, but not changing the string

Yellow

# `Basic Operations`

In [4]:
a = 20
b = 15

#### `Addition`

In [ ]:
a + b

35

#### `Subtraction`

In [6]:
a - b

5

#### `Multiplication`

In [7]:
a * b

300

#### `Simple Division`:
Give answer in decimal form.

In [8]:
a / b

1.3333333333333333

#### `Floor Division`:
The `//` operator performs floor division, which returns the largest whole number less than or equal to the result of the division. For example, `5 // 2` returns `2`, and `5 // -2` returns `-3`.

In [9]:
a // b

1

#### `Modulus`:
The `Modulus` function is used to calculate the remainder of a division operation. It takes two arguments: the dividend and the divisor. The result is the remainder of the division of the dividend by the divisor.

In [10]:
a % b

5

#### `Power`

In [11]:
a ** b

32768000000000000000

In [ ]:
print(4% (1 + 9)**2 - 60 // (7 + 2))

-2

# `Conditionals`
- **`if`** : **`if`** is a conditional statement that allows you to execute a block of code if a certain condition is met. The syntax is as follows:<br> `if (condition)`<br>    `{ code to be executed }`.<br> The condition is a boolean expression that evaluates to either `true` or `false`. If the condition is `true`, the code inside the block is executed. If the condition is `false`, the code inside the block is skipped.
- **`else`** : **`else`** is a conditional statement that allows you to execute a block of code if a certain condition is not met. The syntax is as follows:<br> `if (condition)`<br>    ` { code to be executed }`<br>    `  else`<br>    `  { alternative code to be executed }`. 
- **`elif`** : **`elif`** is a conditional statement that allows you to execute a block of code if a certain condition is met, but only if the previous conditions are not met. The syntax is as follows:<br> `if (condition1)`<br>    `  { code to be executed }`<br>    `  elif (condition2) { alternative code to be executed }`.
- **`match`** : **`match`** is a conditional statement that allows you to execute a block of code based on the value of a variable. The syntax is as follows:<br> `match (variable)`<br>    `  { case value1 => code to be executed; `<br>    ` case value2 => alternative code to be executed; }`.

In [1]:
# check whether a number is odd or even
x = 90
if x % 2 == 0:
    print(x, "is even")
else:
    print(x, "is odd")

90 is even

In [2]:
# if a number is negative, positive or zero
x = 0
if x < 0:
    print("x is negative")
elif x == 0:
    print("x is zero")
else:
    print("x is positive")

x is zero

In [5]:
# match case example. Grade system
marks = 85

match marks:
    case _ if 90 <= marks <= 100:
        print("Excellent")
    case _ if 80 <= marks < 90:
        print("Good")
    case _ if 70 <= marks < 80:
        print("Fair")
    case _ if 60 <= marks < 70:
        print("Pass")
    case _:
        print("Fail")

Good

# `Loops and Iterations`
- **For Loops**: Used to execute a block of code repeatedly for a specified number of times. Eg. `for i in range(5): print(i)`
- **While Loops**: Used to execute a block of code repeatedly while a certain condition is met . Eg. `i = 0; while i: print(i); i += 1`
- **Iterators**: Used to iterate over a sequence (like a list or a string) Eg . `for char in "hello": print(char)` 
- **Enumerate**: Used to iterate over a sequence and get both the index and the value Eg . `for i, char in enumerate("hello"): print(i, char)` 
- **Zip**: Used to iterate over two or more sequences in parallel Eg . `for a, b in zip([1, 2, 3], ["a", "b", "c "]): print(a, b)`

Iterating over a LIST or TUPLE

In [6]:
fruits = ["apple", "banana", "cherry", "date"]

In [7]:
for fruit in fruits:
    print(fruit)

apple
banana
cherry
date

In [ ]:
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry
date

In [9]:
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry
3 date

In [10]:
i = 0
while i < len(fruits):
    print(fruits[i])
    i += 1

apple
banana
cherry
date

In [11]:
[print(fruit) for fruit in fruits]

apple
banana
cherry
date

[None, None, None, None]

Iterate over STRING

In [13]:
text = "hello"

In [14]:
for char in text:
    print(char)

h
e
l
l
o

In [15]:
for i in range(len(text)):
    print(text[i])

h
e
l
l
o

In [16]:
for index, char in enumerate(text):
    print(index, char)

0 h
1 e
2 l
3 l
4 o

Iterate over a SET

In [17]:
colors = {"red", "green", "blue"}

In [18]:
for color in colors:
    print(color)

green
red
blue

In [19]:
for index, color in enumerate(colors):
    print(index, color)

0 green
1 red
2 blue

Iterate over a DICTIONARY

In [20]:
student = {"name": "Aman", "age": 21, "grade": "A"}

In [21]:
# Iterate over keys:
for key in student:
    print(key)  # prints keys

name
age
grade

In [22]:
for key in student.keys():
    print(key)

name
age
grade

In [23]:
# Iterate over Values
for value in student.values():
    print(value)

Aman
21
A

In [24]:
for key, value in student.items():
    print(f"{key}: {value}")

name: Aman
age: 21
grade: A

# `Functions`
- Functions are blocks of code that can be called multiple times from different parts of a program. They can take arguments and return values. Functions are useful for organizing code, reducing repetition, and improving code readability. 
- `Types of Functions`: User define and built-in functions.
- `User -defined functions`: These are functions that are created by the user to perform a specific task. They can be defined using the `def` keyword. For example: `def greet(name): print(f"Hello, {name}!")` 
- `Built-in functions`: These are functions that are already available in Python and can be used directly without defining them. For example: `len()`, `type()`, `print()`, etc.
- `Return Statement`: The `return` statement is used to return a value from a function. If a function does not contain a `return` statement, it will return `None` by default. For example: `def greet(name): return f"Hello, {name}!"`

In [25]:
# function to calculate the sum of all elements in the list
def sum_of_elements(lst):
    return sum(lst)

In [26]:
l = [1,2,3,4,5,6,7,8,9,10]
print(sum_of_elements(l))

55

#### `Types of Arguments`
- **`Positional Arguments`**: These are the arguments that are passed to a function in the order they are defined in the function definition. They are required and must be provided in the correct order.

In [1]:
def multiply(a, b):
    return a * b

print(multiply(4, 5))

20

- **`Keyword Arguments`**: These are arguments that are specified after the function name and are preceded by a keyword. They are used to pass values to the function that are not part of the function's name. Keyword arguments are optional and can be used to make the function more flexible.

In [2]:
def student(name, age):
    print("Name:", name)
    print("Age:", age)
student(age=20, name="Manharan")

Name: Manharan
Age: 20

- **`Default Arguments`**: This is a feature that allows you to specify default values for function arguments. This can be useful when you want to provide a default value for an argument that is not always provided.

In [3]:
def greet(name="Guest"):
    print("Hello", name)

greet("Gurjot")   
greet()

Hello Gurjot
Hello Guest

- **`Variable-Length Arguments`**: This is a feature that allows a function to accept a variable number of arguments. It is denoted by the `*` symbol in the function definition. For example, `def my_function(arg1 , arg2, *args):` would allow the function to accept any number of additional arguments.

* `Using *args (Non-keyworded)`: This is used to pass a non-keyworded variable-length argument list to a function.

In [5]:
def total(*numbers):
    print(sum(numbers))

total(10, 20, 30)

60

* `Using **kwargs (Keyworded)`: This is a way to pass a variable number of keyword arguments to a function. It is useful when you need to pass a variable number of arguments to a function, but you don't know what the arguments are until runtime.

In [4]:
def show_details(**info):
    for key, value in info.items():
        print(key, ":", value)

show_details(name="Manharan", age=20)

name : Manharan
age : 20

In [6]:
# Factorial of a number
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

In [7]:
factorial(6)

720

In [9]:
# Sum of all natural numbers till n
def sum_of_natural_numbers(n):
    num = 0
    for i in range(1, n+1):
        num += i
    return num

In [10]:
sum_of_natural_numbers(10)

55

#### `Lambda Function`
- A lambda function is a small anonymous function that can take any number of arguments, but can only have one expression.
- Syntax: `lambda arguments : expression`
- Example: `sum = lambda x, y: x + y`

In [ ]:
add = lambda x, y: x + y
print(add(3, 5))

8

`Map Function`: This function takes a map as input and returns a new map with the same keys but with values transformed according to the provided function.

In [15]:
numbers = [1, 2, 3, 4, 5]
# Square of numbers
squared = map(lambda x: x ** 2, numbers)
print(squared)
print(list(squared))

<map object at 0x109b660e0>
[1, 4, 9, 16, 25]

In [14]:
# Area of circle
import math
# List of radii
radii = [7, 14, 21, 28, 30]
# Use map and lambda to compute area for each radius
areas = map(lambda r: math.pi * r ** 2, radii)
print(list(areas))

[153.93804002589985, 615.7521601035994, 1385.4423602330987, 2463.0086404143976, 2827.4333882308138]

`Filter Function`: This function is used to filter the data based on the condition specified in the `filter` parameter.

In [16]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# Use filter with lambda to keep only even numbers
evens = filter(lambda x: x % 2 == 0, numbers)
print(evens)
print(list(evens))

<filter object at 0x109b80610>
[2, 4, 6, 8, 10]

In [25]:
import statistics as st 
data = [1,2,3,4,5,9,12,4,2,9]

In [26]:
avg = st.mean(data)
print(avg)

5.1

In [28]:
list(filter(lambda x: x > avg, data ))

[9, 12, 9]

In [30]:
x = [0,0.00,1,2,3, ""]
list(filter(None,x))

[1, 2, 3]

`Reduce function`: The `reduce` function is used to apply a function of two arguments cumulatively to the elements of an array, from left to right, so as to reduce the array to a single output.

In [17]:
from functools import reduce
numbers = [1, 2, 3, 4, 5]
# Use reduce with lambda to multiply all numbers
product = reduce(lambda x, y: x * y, numbers)
print(product)

120