# `Lists`
- Ordered sequence of mixed data types 
- Lists are `mutable`, meaning they can be modified after creation.
- Values in list are called `elements` or `items`.
- List is denoted by square brackets `[]. Eg : [1, 2, "3", 4.8, 5]`
- `Nested Lists`: Lists can be nested inside another list. Eg : [[1, 2], [3, 4], [5, 6]]
- `Indexing`: List elements can be accessed using their index. Index starts from 0.
- **>40** methods are available for list in python.
- List objects cannot be compared uses as keys in a dictionary because keys must be immutable.

In [ ]:
my_info = ['Khushi', 20] # name, age
type(my_info)

list

In [3]:
list1 = ["Apple", 3, "orange"]
print(len(list1))
print(type(list1))

3
<class 'list'>

In [ ]:
list2 = [1,2,3,[4,5,6]] # list with nested list
print(len(list2)) 
print(type(list2))

4
<class 'list'>

In [7]:
list2[3]

[4, 5, 6]

In [8]:
list2[3][1]

5

#### Slicing

In [ ]:
list2[-1][-1]

6

#### List Concatination:  Merging 2 lists

In [ ]:
list3 = list1 + list2
print(list3)

['Apple', 3, 'orange', 1, 2, 3, [4, 5, 6]]

In [15]:
print(8 in list3)
print(4 in list3)

False
False

#### Mutability

In [30]:
list1 = ["Physics", 'Chemestry', 'Biology']
print(list1)
list1[2] = 'Maths'
print(list1)

['Physics', 'Chemestry', 'Biology']
['Physics', 'Chemestry', 'Maths']

`.extend()` function:<br>
eg `list1.extend(list2)`: This adds all elements of list2 to the end of list1.

In [31]:
list1.extend(['Biology','English'])
print(list1)

['Physics', 'Chemestry', 'Maths', 'Biology', 'English']

`.append()` function:<br>
Add a single item to end of list

In [32]:
list1.append([4,5])
print(list1)

['Physics', 'Chemestry', 'Maths', 'Biology', 'English', [4, 5]]

Deleting elements fron list

In [33]:
del list1[-1]
print(list1)

['Physics', 'Chemestry', 'Maths', 'Biology', 'English']

In [ ]:
list1.pop(4) # remove the 3rd element from the list
#  by default, pop() removes the last element from the list
print(list1)

['Physics', 'Chemestry', 'Maths', 'Biology']

In [35]:
list1.remove('Biology')
print(list1)

['Physics', 'Chemestry', 'Maths']

Sort method

In [ ]:
list2 = [2,4,6,2,9,1]
list2.sort() # sort the list in ascending order
print(list2)

[1, 2, 2, 4, 6, 9]

In [37]:
list2.sort(reverse=True) # sort the list in decending order
print(list2)

[9, 6, 4, 2, 2, 1]

Sorted method

In [ ]:
list2 = [2,4,6,2,9,1]
print(list2.sort()) # sorts the list in-place, does not return any value or create another object
print(sorted(list2)) # returns a new sorted list, does not modify the original list

None
[1, 2, 2, 4, 6, 9]

In [ ]:
list2 =[5,4,3,2,1]
sorted(list2)
print(list2)

[5, 4, 3, 2, 1]

`Shallo copy`: A shallow copy creates a new object, but it does not copy nested objects inside it. Instead, it copies references to them.(similar to giving a new name to an existing object)

In [ ]:
A = [1,2,3,4,5]
B = A
#  refer to same object
print(id(A))
print(id(B))

4494495808
4494495808

In [42]:
A.pop()
print(A)
print(B)

[1, 2, 3, 4]
[1, 2, 3, 4]

`Deep Copy`: A deep copy creates a new object, and recursively copies all nested (inner) objects as well.

In [43]:
A = [1,2,3,4,5]
B = A[0:]
print(id(A))
print(id(B))

4494535616
4419549504

In [44]:
A.pop()
print(A)
print(B)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

String to List

In [46]:
string = "Khushi_Kumari_Gupta_Singh_Raizada"
list1 = string.split('_')
print(list1)

['Khushi', 'Kumari', 'Gupta', 'Singh', 'Raizada']

# `Tuples`
- A tuple is a collection of values that can be of any data type, including strings, integers, floats, and other tuples.
- Tuples are defined by enclosing values in parentheses `()`. Eg : `(1, 2, 3)`
- Tuples are `immutable`, meaning their contents cannot be modified after creation.
- Tuples are often used when you need to store a collection of values that shouldn't be changed.
- When need to return multiple values from a function. 
- When need to store a collection of values that are related to each other.
- 30 - 35 methods are available for tuples.
- Can be used as dictionary keys.

In [12]:
my_info = ('Khushi', 20) # name, age
type(my_info)

tuple

In [13]:
t = (1,2,3,4)
print(len(t))

4

In [14]:
t = (1,2,"hiii", [4,5,6])
print(type(t[3]))

<class 'list'>

Tuples can be depined in various ways

In [ ]:
t1 = 1,2,3,4,5
print(t1)
print(type(t1))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [ ]:
x = (1)
print(type(x))

<class 'int'>

In [ ]:
x = (1,) 
print(type(x))

<class 'tuple'>

In [24]:
x = 1,
print(type(x))

<class 'tuple'>

In [25]:
x = 1,2,
print(type(x))

<class 'tuple'>

Indexing in tuple is similar to lists

Concatination

In [ ]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = t1 + t2
print(t3)

(1, 2, 3, 4, 5, 6)

Min, Max, Sum

In [16]:
sum(t3)

21

In [17]:
min(t3)

1

In [18]:
max(t3)

6

In [19]:
t = (1,2,"hii")
sum(t) #invalid

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Immutability

In [20]:
t3 = (1,2,3,4)
t[3] = 5
# invalid

TypeError: 'tuple' object does not support item assignment

Sorting

In [22]:
t = (4,3,2,1)
new_t = sorted(t)
print(new_t)
print(type(new_t))
# sort() won't work: can't sort in place

[1, 2, 3, 4]
<class 'list'>

Type Casting

In [23]:
new_t = tuple(new_t)
print(type(new_t))

<class 'tuple'>

Nested Tuples

In [30]:
t = ((1,2),(3,))
print(t[1][0])

3

# `Sets`
- Unorderd collection of unique elements
- No duplicate values
- Fast lookup, insertion, and removal
- Defined by a set of curly brackets `{}` eg. `{1, 2, 3}`

In [35]:
list1 = 1,2,4,2,1,2,3,4,1,1,2,3,2,4,2,3,2,1,3
print(len(list1))

19

In [36]:
set1 = set(list1)
print(set1)
print(len(set1))

{1, 2, 3, 4}
4

In [37]:
set2 = {}
print(type(set2))

<class 'dict'>

In [38]:
set2 = set()
print(type(set2))

<class 'set'>

In [39]:
set2.add("Hello")
print(set2)

{'Hello'}

In [40]:
set2.remove("Hello")
print(set2)

set()

Set Operations

In [47]:
A = {0,1,3,5,7,8,9}
B = {0,2,4,6,8,9,10}

Union

In [48]:
print(A | B)
print(A.union(B))
print(len(A | B))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
11

Intersection

In [52]:
print(A & B)
print(A.intersection(B))
print(len(A & B))

{0, 8, 9}
{0, 8, 9}
3

Difference

In [53]:
print(A - B)
print(A.difference(B))
print(len(A - B))

{1, 3, 5, 7}
{1, 3, 5, 7}
4

In [57]:
print(B - A)
print(B.difference(A))
print(len(B - A))

{2, 10, 4, 6}
{2, 10, 4, 6}
4

Symmetric Difference

In [54]:
print(A ^ B)
print(A.symmetric_difference(B))
print(len(A ^ B))

{1, 2, 3, 4, 5, 6, 7, 10}
{1, 2, 3, 4, 5, 6, 7, 10}
8

# `Dictionary`
- `Dictionary` is a collection of key-value pairs.
- Key is unique and immutable of any type.
- Value can be of any type and can be mutable.
- Eg. {"name": "John", "age": 25}

In [58]:
d1 = {'India': 'Delhi', 'USA': 'Washington D.C.', 'China': 'Beijing'}

In [59]:
d1['China']

'Beijing'

In [67]:
d1.get('India')

'Delhi'

In [60]:
type(d1)

dict

In [61]:
# Adding new value
d1['Japan'] = 'Kanto'
print(d1)

{'India': 'Delhi', 'USA': 'Washington D.C.', 'China': 'Beijing', 'Japan': 'Kanto'}

In [69]:
# changing a value
d1.update({'Japan': 'Otawa'})
print(d1)
d1['Japan'] = 'Tokyo'
print(d1)

{'India': 'Delhi', 'USA': 'Washington D.C.', 'China': 'Beijing', 'Japan': 'Otawa'}
{'India': 'Delhi', 'USA': 'Washington D.C.', 'China': 'Beijing', 'Japan': 'Tokyo'}

In [63]:
sorted(d1)

['China', 'India', 'Japan', 'USA']

In [64]:
# get all the keys
d1.keys()

dict_keys(['India', 'USA', 'China', 'Japan'])

In [66]:
# get all the values
d1.values()

dict_values(['Delhi', 'Washington D.C.', 'Beijing', 'Tokyo'])