# `Variables`
Temporary storage values in a program are called variables. Variables are used to store data that can be used in a program.

In [1]:
a = "hello word"
print(a)

hello word

In [2]:
age = 20
print(age)

20

# `Keywords`
Special reserved words in the language that have a specific meaning. Keywords are used to define the structure of the program.

In [4]:
print = 10
print(print)

TypeError: 'int' object is not callable

# `Data Types`
There are several data types in Python, including: 
#### **`Numeric`** (Integers, Floats, Complex)
*   **`Integers`**: Whole numbers, either positive, negative, or zero. For example: 1, -5, 0.
*   **`Floats`**: Decimal numbers. For example: 3.14, -0.
*   **`Complex`**: Numbers with a real and imaginary part. For example: 3+4j. 
#### **`Sequence`** (Strings, Lists, Tuples)
*   **`Strings`**: Sequences of characters. For example: "hello", 'hello', or 'hello world'.
*   **`List`**: An ordered collection of items that can be of any data type, including strings , integers, floats, and other lists. For example: [1, 2, 3], ["a", "b", "c "], or [1, 2, 3, "a", "b", "c"]
*   **`Tuple`**: An ordered, immutable collection of items that can be of any data type, including strings, integers, floats, and other tuples. For example: (1, 2, 3), ("a", "b", "c"), or (1, 2, 3, "a", "b", "c")
####   **`Boolean`**: 
A logical value that can be either True or False.
####   **`Dictionary`**: 
An unordered collection of key-value pairs. For example: {"name": " John", "age": 30}, {"city": "New York", "country": "USA "}, or {"1": "one", "2": "two", "3": "three"}
####   **`Set`**: 
An unordered collection of unique items. For example: {1, 2, 3}, {"a", "b", "c"}, or {1, 2, 3, "a", "b", "c"}
####   **`NoneType`**: 
A special data type that represents the absence of a value. For example : None

In [5]:
age = 20
type(age)

int

In [6]:
name = 'Manharan Kaur'
type(name)

str

In [7]:
score = 89.5
type(score)

float

In [8]:
x = "10.5"
type(x)

str

In [9]:
a = 'True'
type(a)

str

In [10]:
a = True
type(a)

bool

In [11]:
5a = 7 
# Error can't start variables names from a number

SyntaxError: invalid decimal literal (2591580758.py, line 1)

In [1]:
a = 4
b = 5
c = a + b
print(c)

9

# `Functions`
Functions are a way to group a set of related statements together to perform a specific task. They can take arguments, return values, and be reused throughout your code.

In [2]:
def sum(a,b):
    return a+b

In [3]:
print(sum(5,6))

11

# `Operators` & `Operands`
- **`Operators`**: These are the symbols used to perform operations on operands. Examples include `+`, `-`, `*`, `/`, etc. 
- **`Operands`**: These are the values on which the operators are applied. Examples include `2 `, `5`, `10`, etc. 
- **`Expression`**: A combination of operators and operands that results in a value. Examples include `2 + 5`, `10 * 2`, etc.
- **`Order of Precedenc`**: The order in which operators are applied when there are multiple operators in an expression. For example, in the expression `2 + 3 * 4`, the multiplication is performed first, then the addition .
- **`Associativity`**: The order in which operators are applied when there are multiple operators of the same precedence in an expression. For example, in the expression `2 + 3 + 4`, the addition is performed from left to right.
- **`BODMAS`**: A mnemonic used to remember the order of precedence of operators. It stands for `Brackets`, `Orders`, `Division`, `Multiplication`, `Addition`, and `Subtraction`. 
- ** `PEMD` **: A mnemonic used to remember the order of precedence of operators. It stands for `Parentheses`, `Exponents`, `Multiplication` and `Division`, and `Addition` and `Subtraction`.

In [ ]:
name = input("Enter name:")
print(name)
print(type(name))

# `Typecasting`
It is the process of converting a variable from one data type to another. For example, converting an integer to a string or a float to an integer.

In [ ]:
a = 2.556
b = int(a)
print(type(b))